<!DOCTYPE html>
<html>
<head>
	<title>kickstart</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>

<h1>Hello Kids</h1>
<a class="btn btn-primary" href="#" role="button">Link</a>
<a class="btn btn-primary" href="rhymes" role="button">Link1</a>
<a class="btn btn-primary" role="button" name="rhymebutton" onclick="jaadu()">Link2</a>
<a class="btn btn-primary" href="rhymes" role="button">Link3</a>
<a class="btn btn-primary" href="rhymes" role="button">Link4</a>

</body>
</html>