<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <style type="text/css">

body{background-image: url("https://images.unsplash.com/photo-1515437765356-882f1727ef38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") ;
background-size: cover;}

  </style>
</head>
<body>



<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header"><p class="navbar-brand"  style="font-weight: bold; color: yellow">Study Buddy<span class="glyphicon glyphicon-education"></span></p> 
    </div>
    
   
    
    <div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="border-width: 3px; border-color: yellow; color: yellow; font-size: 20px">
    Parent
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/accounts/signup">SignUp</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/accounts/login">Login</a>
  </div>
</div>
  </div>
</nav>
<div style="position: "><p style="font-family: 'Indie Flower', cursive; font-weight: bolder; padding-left: 20px; font-size: 20px">“Today you are You, that is truer than true. <br>There is no one alive who is Youer than You.”<br>
― Dr. Seuss</p>
</div>






  
</body>
</html>