{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/parent.css' %}">

<h1 style="padding-left: 500px">
	Your Child's Progress 
</h1>

<span>
<img src="{% static 'pictures/mathphoto1.png' %}" class="img-responsive center-block" style='max-height: 200px; margin: 0 auto; display: table;'>	
</span>

<span>
<img src="{% static 'pictures/mathphoto2.png' %}" class="img-responsive center-block" style='max-height: 200px; margin: 0 auto; display: table;'>	
</span>

<span>
	<img src="{% static 'pictures/mathphoto3.png' %}" class="img-responsive center-block" style='max-height: 200px; margin: 0 auto; display: table;'>
</span>
